@import "../../responsive.scss";

.details {
  .breadcrumb {
    padding: 1rem 0;
    color: rgba(128, 128, 128, 0.726);
  }
  .main_section {
    height: 70vh;
    display: flex;
    position: relative;
    overflow: auto;

    scrollbar-width: none;

    .left {
      width: 40%;
      // height: 500px;
      height: 100%;
      position: sticky;
      top: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right {
      width: 56%;
      padding-left: 2rem;
      height: fit-content;

      .recipe_title {
        margin-bottom: 1rem;

        h1 {
          font-size: 2.5rem;
        }

        .tag {
          display: flex;
          align-items: center;
          gap: 2px;
          margin-top: 0.5rem;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      p {
        line-height: 1.5;
        white-space: pre-wrap;
      }
      .ingredients {
        li {
          list-style-type: none;
          border-bottom: 1px solid rgba(128, 128, 128, 0.253);
          padding: 0.5rem 0;

          &:last-of-type {
            border: none;
          }
        }
      }

      span.source {
        display: block;
        margin-block: 1rem;
      }
      h3 {
        margin-bottom: 0.5rem;
      }
    }
  }
}

// Responsiveness
@include sm {
  .details {
    .main_section {
      flex-direction: column;
      height: 79vh;
      justify-content: space-between;
      .left {
        width: 100%;
        height: 300px;
      }
      .right {
        width: 100%;
        padding: 0;
        height: 360px;
        overflow-y: auto;

        .recipe_title {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@include xsm {
  .details {
    .container {
      padding: 0 1rem;
      .main_section {
        .left {
          height: 200px;
        }
        .right {
          height: 420px;

          .recipe_title {
            h1 {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
