@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Smooch Sans"; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Dancing Script"; */
  font-family: Poppins;

  cursor: url("/imgs/carrot_1.PNG"), auto;
}

button {
  cursor: url("/imgs/carrot_1.PNG"), auto !important;
}

body {
  cursor: url("/imgs/carrot_1.PNG"), auto;
  overflow: hidden;
  overflow-y: auto;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.container {
  /* border: 1px solid; */
  padding-inline: 2rem;
}

a {
  text-decoration: none;
  color: #001122;
  transition: all 0.3s;
}

a:hover {
  color: #41893d;
}

.footer {
  padding: 1rem 0;
  margin-top: 3rem;
  p {
    font-size: 1rem;
    font-family: "Smooch Sans";
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .footer {
    margin-top: auto;
  }
}
