@import "../../responsive.scss";

.submit {
  height: 80vh;
  width: 80%;
  margin: auto;
  padding-block: 1rem;
  overflow: hidden;
  .txt_wrap {
    text-align: center;
    height: 100px;
    h1 {
      font-size: 2rem;
    }
    p {
      max-width: 700px;
      margin: auto;
    }
  }
  .row + button {
    margin: 1rem 0 2rem 1rem;
  }
  .form_section {
    height: calc(80vh - 100px);
    overflow: auto;
    scrollbar-width: none;

    width: 80%;
    margin: auto;

    .row {
      padding: 1rem;
      label {
        display: block;
        margin-bottom: 5px;
      }
      input {
        height: 30px;
        width: 90%;
      }
      input:not(input[type="file"]),
      select,
      textarea {
        border-radius: 0%;
        border: 1px solid rgba(0, 0, 0, 0.339);
        padding: 0.5rem;

        &:focus {
          outline: none;
          border: 1px solid #41893d;
        }
      }

      select {
        width: 50%;
        height: 35px;
      }
      textarea {
        width: 90%;
        height: 150px;
        resize: none;
      }
      span {
        font-size: 0.8rem;
      }

      .ingredients {
        margin-top: 0.2rem;
        width: 90%;
        padding: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;

        span {
          border: 1px solid rgba(0, 0, 0, 0.393);
          min-width: fit-content;
          padding: 0.2rem;
          display: flex;
          gap: 10px;

          span {
            font-size: 0.5rem;
            cursor: pointer;
          }
        }
      }

      button {
        width: 130px;
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}

// Responsive
@include sm {
  .submit {
    width: 100%;
    .txt_wrap {
      height: 120px;
    }
    .form_section {
      height: calc(80vh - 120px);
    }
  }
}

@include xsm {
  .submit {
    height: fit-content;
    .container {
      padding: 0;

      .txt_wrap {
        padding: 1rem;
        height: fit-content;
      }
      .form_section {
        width: 100%;
        height: fit-content;

        form {
          padding: 1rem 0.5rem;

          .row {
            padding: 0.3rem;
          }
          input,
          select,
          textarea {
            width: 100%;
          }
        }
        .row + button {
          width: 97%;
          margin-left: 0.4rem;
        }
      }
    }
  }
}
